@media (max-width:1199px) {

}
@media (max-width: 991px) {
    .header__logo {
        margin: 20px;
    }
    .header__nav-menu__item__link {
        white-space: normal;
        word-break: keep-all;
    }
    .text-content__inner{
        font-size: 18px;
    }
    .catalog__inner__list__item {
        width: 48%;
    }
    .text-info__inner{
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 768px) {
    .header__nav-menu__list {
        display: block;
    }

    .header__nav-menu__item__link {
        padding: 5px;
    }

    .wrapper__main-aside {
        display: flex; /* footer down*/
        flex-direction: column;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    .aside {
        width: 100%;
    }

    .side-bar__contacts__inner .side-bar__info-first .side-bar__info-second {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer__list-feedback__item {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .main{

    }
    .catalog__inner__list__item {
        width: 100%;
    }
    .side-bar__contacts__inner{
        font-size: 17px;
    }
    .side-bar__info-first__inner{
        font-size: 17px;
        line-height: 18px;
    }
    .aside__info-first__list {
        font-size: 15px;
        line-height: 18px;
    }
    .side-bar__info-second{
        font-size: 17px;
        line-height: 18px;
    }
}
@media (max-width: 449px) {

}