* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #678ca6;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x:hidden;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.wrapper{
    display: flex;  /* footer down*/
    flex-direction: column;  /* footer down*/
    min-height: 100%;  /* footer down*/
    padding: 0 15px;
    font-family: sans-serif;
 }
.content {
    flex: 1 0 auto;     /* footer down*/
}
.header{
    margin: 15px 0;
}
.header__logo{
    text-align: center;
    margin: 40px;
}
.header__logo img{
    max-width: 100%;
}
.header__nav-menu{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    backgroundimage: url("images/panel-box-noise-bg.png");
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(30, 50, 70, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.12);
}
.header__nav-menu__list__item:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.header__nav-menu__list{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header__nav-menu__item{
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.12);
}

.header__nav-menu__item:last-child{
    border: 0;
}

.header__nav-menu__item__link{
    color: #fff;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: 300;
    text-decoration: none;
    padding: 28px 5px;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.wrapper__main-aside{
    display: flex;      /* footer down*/
}
.main{
    background-color: #fff;
    width: 74%;
    margin: 0 15px 0 0 ;
    padding: 30px;
}
.main a:hover{
    color: #52b8df;
    text-decoration: underline;
}
.text-content__inner{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #5c626b;
}
.text-content__inner p {
    margin: 0 0 14px 0;
}
.text-content__inner a{
    color: #52b8df;
    text-decoration: none;
    cursor: pointer;
}
.catalog__inner h2{
    margin: 25px 0 15px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #497c95;
    text-transform: none;
}
.catalog__inner__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.catalog__inner__list__item{
    width: 32%;
    min-height: 209px;
    max-height: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;

}
.catalog__inner__list__item__wrap{
    padding: 30px;
}
.catalog__inner__list__item img {
    box-sizing: border-box;
    max-width: 100%;
    padding: 4px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    margin-bottom: 10px;
}
.catalog__inner__list__item img:hover{
   border: 1px solid #cccccc;
    background: #fff;
}

.catalog__inner__list__item a{
    color: #52b8df;
    text-decoration: none;
    cursor: pointer;
}
.text-info__inner{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #5c626b;
}
.aside{
    width: 26%;
}
.aside a{
    color: #52b8df;
    text-decoration: none;
    cursor: pointer;
}
.aside a:hover{
    color: #52b8df;
    text-decoration: underline;
}
.side-bar__contacts__inner{
    background-color: #fff;
    padding: 30px;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 20px;
    color: #5c626b;
}
.side-bar__contacts__inner__title{
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 24px;
    color: #497c95;
}

.side-bar__info-first{
    background-color: rgba(45, 55, 70, 0.15);
    background-image: url("images/panel-box-noise-bg.png");
    box-shadow: 0 1px 3px rgba(15, 24, 34, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.12);
    padding:30px 30px 15px 30px;
}
.side-bar__info-first__inner{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #ffffff;
}
.aside__info-first__list{
    font-size: 12px;
}
.side-bar__info-second{
    background-color: #fff;
    padding: 30px 30px 15px 30px;
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    color: #5c626b;
}
.side-bar__info-second__inner h3{
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #497c95;
}

.footer {
    flex: 0 0 auto; /* footer down*/

}
.footer__wrapper{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("images/panel-box-noise-bg.png");
    box-shadow: 0 1px 3px rgba(30, 50, 70, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.12);
    margin: 15px 0;
    max-width: 1200px;
}
.footer__list-feedback {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 0 0 0;
}
.footer__list-feedback__item{
    display: block;
    list-style: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.footer__list-feedback__item a{
    color: #52b8df;
    text-decoration: none;
    cursor: pointer;
}
.footer__list-feedback__item:hover{
    color: #52b8df;
    text-decoration: underline;
}
.footer__list-feedback__item__first{
    border-right:1px solid rgba(0, 0, 0, 0.1);
}
.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 15px 0 0 0;
}
.footer__copyright__item{
    display: block;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1;
   color: #fff;

}
.footer__copyright img{
    list-style: none;
}